.my-menu {
  display: flex;
  padding: 0;

  li {
    width: 120px;
    list-style: none;
    text-align: center;
    border: 1px solid;

    a {
      display: block;
      text-decoration: none;
    }

    .active {
      font-weight: bold;
      color: white;
      background: black;
    }
  }

  &.submenu {
    li {
      border-width: 0 1px 0 0;

      &:last-child {
        border: 0;
      }

      .active {
        color: black;
        background: none;
      }
    }
  }
}
